/*body{
        background-color:rgb(255, 255, 255) ;
        margin:0;
        padding: 0;
}
.body{
        width:100%;
        height: 720px;
        justify-content: center;
        color:white;
}
.box{
    border:none;
    width:500px;
    height:650px;
    background-color: rgb(149, 20, 20);
    border-radius: 4px;
    box-shadow: 3px 3px 50px rgb(7, 22, 27);
    opacity: 0.8;
}
.text{
        border:none;
        width:230px;
        height:30px;
  
}
button{
        border:none;
        height:30px;
        width:50px;
        background-color: white;
}
.list{
        border:white 1px solid ;
        border-radius: 4px;
        height:400px;
        width:350px;
        overflow: auto;
}
ul{
    list-style-type: none;
}
h2{
    margin-left: 120px;
}
.body ,.box{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
.taskerr{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: 4px 2px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        color: black;
        opacity: 0.8;
        overflow: auto;
}
.complete,.delete{
        width:fit-content;
       
}*/